.name {
  font-family: Arial-BoldMT;
  font-size: 22px;
  color: #000000;
  letter-spacing: 0;
  text-align: left;
  font-weight: bold;
}

.adorn {
  width: 4px;
  height: 18px;
  background: #8DC938;
  border-radius: 2px;
  margin-right: 8px;
}
