.content {
  // min-width: 800px;
  margin-bottom: 50px;
}

.title {
  font-family: Arial-BoldMT;
  font-size: 14px;
  color: #6A942E;
  letter-spacing: 0;
  text-align: left;
}

.cont {
  font-family: TimesNewRomanPSMT;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  text-align: left;
}


.regBtn {
  width: 174px;
  height: 40px;
  background: #8DC938;
  box-shadow: 0px 4px 0px #6A942E;
  font-family: Arial-BoldMT;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: left;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
}

.deadline {
  // margin: 0 8.3% 0 2.3%;
  padding: 0 100px;
}

.iconRight {
  height: 18px;
  margin-left: 14px;
}
