.Sponsors {
  margin: 50px 0 29px;
}

.content {
  font-family: ArialMT;
  font-size: 18px;
  color: #333333;
  letter-spacing: 0;
  text-align: justify;
  line-height: 32px;
}

.green {
  font-family: Arial-BoldItalicMT;
  font-size: 18px;
  color: #6A942E;
  letter-spacing: 0;
  text-align: justify;
  line-height: 32px;
}
