.Sponsors {
  margin: 50px 0 30px;
}

.text {
  font-family: ArialMT;
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  text-align: justify;
  line-height: 22px;
}

.green {
  font-family: Arial-BoldItalicMT;
  font-size: 14px;
  color: #6A942E;
  letter-spacing: 0;
  text-align: justify;
  line-height: 22px;
}
