.Sponsors {
  margin: 50px 0 29px;
}

.title {
  font-family: Arial-BoldMT;
  font-size: 20px;
  color: #6A942E;
  letter-spacing: 0;
  text-align: left;
}

.content {
  font-family: ArialMT;
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  text-align: justify;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 31px;

}
